body {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 4% 32% 4%;
    font-family: 'Noto Sans KR', sans-serif; 
    background-color: #F1F3F4;
}

.mainButtonList {
    padding-bottom: 16px;
}

.mainButton {
    box-shadow:1px 1px 4px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 16px;
    padding: 16px 16px 16px 16px;
    cursor: pointer;
    background-color: white;
}

.mainButtonTitle {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
}

.mainButtonItem {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 100;
}

.mainButtonLabel {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    color: green;
}

.backButton {
    font-size: 14px;
    font-weight: 500;
    color: green;
    cursor: pointer;
    margin-bottom: 64px;
}

.letterGuide {
    font-size: 14px;
    font-weight: 100;
}

.letterField {
    width: 100%;
    height: 200px;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px;
    resize: none;
    font-size: 16px;
}
.letterFieldError {
    width: 100%;
    height: 200px;
    border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px;
    resize: none;
    font-size: 16px;
}
.letterFieldErrorMessage {
    font-size: 14px;
    font-weight: 100;
    color: red;
}

.submitButton {
    max-width: 480px;
    width: 100%;
    height: 48px;
    margin: 0 auto;
    background-color: green;
    border: none;
    border-radius: 4px;
    margin-top: 16px;
    margin-bottom: 48px;
    padding: 8px 8px 8px 8px;
    cursor: pointer;
}

.submitButtonLabel {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.noticeList {
    padding-bottom: 16px;    
}

.notice {
    border-radius: 4px;
    margin-top: 8px;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
    background-color: white;
}

.noticeTitle {
    padding-top: 8px;
    padding-bottom: 4px;
    font-size: 14px;
}

.noticeDate {
    padding-top: 4px;
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: 100;
}

.viewMoreButton {
    max-width: 180px;
    width: 100%;
    display: block;
    height: 48px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid green;
    border-radius: 4px;
    margin-top: 16px;
    margin-bottom: 48px;
    padding: 8px 8px 8px 8px;
    cursor: pointer;
}

.viewMoreButtonLabel {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 14px;
    color: green;
}

.noticeDetailHeader {
    margin-bottom: 24px;
}

.noticeDetailDate {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 0px;
}

.noticeDetailTitle {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 1.8em;
}

.noticeDetailContents {
    margin-top: 16px;
    font-size: 16px;
/*    font-weight: 100; */
}


ul {
    list-style: none;
    padding-left: 0px;
}

h1 {
    margin-top: 32px;
    font-size: 1.2em;
}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}

article {
    margin-top: 32px;
    background-color: white;
    padding: 8px 16px 32px 16px;
    border-radius: 4px;
    margin-bottom: 48px;
}

hr {
    height: 1px;
    border: 0px;
    background-color: #F1F3F4;
}


/*
.pagination {
    text-align: center;
    margin-bottom: 48px;
}
  
.pagination a {
    padding: 8px 16px;
    font-size: 12px;
    cursor: pointer;
}

.activepage {
    border-radius: 4px;
    background-color: green;
    color: white;
  }
*/
